body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif !important;
}

.feed {
  margin-top: 1rem;
}

.feed img {
  width: 100%;
}

.card {
  border-radius: 0 !important;
  color: #666;
  margin: .5rem 0;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}

.card-title {
  color: #222;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 10px;
}

.feed-date {
  padding: 10px;
  font-size: .9rem;
}

.card .card-text a {
  color: #1e87f0 !important;
}

.btn-primary {
  background-color: #1e87f0 !important;
  border-radius: 0 !important;
}

.btn-danger {
  background-color: #ec2147 !important;
  border-radius: 0 !important;
}

.feed .card .badge {
  border-radius: 0;
  font-weight: 300;
}

.loading-spinner {
  color: #666 !important;
  justify-content: center;
}

.navbar-light {
  background-color: #006bdd !important;
}

.navbar-light .navbar-brand{
  font-weight: 300;
  font-size: 1.4rem;
  color: white !important;
}

.navbar-light .nav-link {
  color: #d2d2d2 !important;
}

.navbar-light .nav-link.active {
  color: white !important;
}